<div class="app-container">
    <div>
        <img src="../../../assets/logo.png">
        <div class="logo">teamly</div>
    </div>

    <form [formGroup]="userForm" novalidate method="post" (ngSubmit)="login()">
        <div>
            <input type="text" formControlName="email" placeholder="email@example.com">
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="invalid-form-alert" *ngIf="userForm.controls['email'].hasError('email') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
                    Invalid email
                </div>
            </div>
        </div>
        <div>
            <input type="password" formControlName="password" placeholder="password">
            <div class="invalid-form-alert" *ngIf="userForm.controls['password'].hasError('required') && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
                Required field
            </div>
            <div class="invalid-form-alert" *ngIf="userForm.controls['password'].hasError('invalidPassword') && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
                Invalid password
            </div>
        </div>
        <div class="controls">
            <div>
                <button type="submit" [disabled]="!userForm.valid" (click)="login()">Sign In</button>
            </div>
            <a routerLink="/auth/register">or sign up</a>
        </div>
    </form>
</div>