<div class="app-container">
    <div>
        <img src="../../../assets/logo.png">
        <div class="logo">teamly</div>
    </div>

    <form [formGroup]="userForm" novalidate method="post" (ngSubmit)="register()">
        <div>
            <input type="text" formControlName="email" placeholder="email@example.com">
            <div *ngIf="email.invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
                <div class="invalid-form-alert" *ngIf="userForm.controls['email'].hasError('email') && !userForm.controls['email'].hasError('required')">
                    Invalid email
                </div>
                <div class="invalid-form-alert" *ngIf="userForm.controls['email'].hasError('required')">
                    Required field
                </div>
                <div class="invalid-form-alert" *ngIf="userForm.controls['email'].hasError('userExists') && !userForm.controls['email'].hasError('email')">
                    User already exists
                </div>
            </div>
        </div>
        <div>
            <input type="text" formControlName="fullname" placeholder="John Smith">
            <div class="invalid-form-alert" *ngIf="userForm.controls['fullname'].hasError('required') && (userForm.controls['fullname'].dirty || userForm.controls['fullname'].touched)">
                Required field
            </div>
        </div>
        <div>
            <app-dropdown-menu title="role" [dataToSelect]="[{title: 'Manager'}, {title: 'Developer'}]" (click)="roleTouched()" (elemChoosed)="chooseRole($event)"></app-dropdown-menu>
            <div class="invalid-form-alert" *ngIf="userForm.controls['role'].hasError('required') && userForm.controls['role'].touched">
                Required field
            </div>
        </div>
        <div>
            <input type="password" formControlName="password" placeholder="password">
            <div *ngIf="password.invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
                <div class="invalid-form-alert" *ngIf="userForm.controls['password'].hasError('required')">
                    Required field
                </div>
                <div class="invalid-form-alert" *ngIf="userForm.controls['password'].hasError('invalidPassword') && !userForm.controls['password'].hasError('required')">
                    Invalid password
                </div>
            </div>
        </div>
        <div class="controls">
            <div>
                <button type="submit" [disabled]="!userForm.valid">Sign Up</button>
            </div>
            <a routerLink="/auth/login">or sign in</a>
        </div>
    </form>
</div>