@import '../../../shared/styles/table.less';

.app-container {
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.container {
    height: calc(100vh - 70px);
    overflow: auto;
}

.manager-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 200px;
    height: 100%;

    button {
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }
}