<div class="app-container">
    <app-projects-search (goToProject)="scrollToProject($event)"></app-projects-search>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                </tr>
            </thead>
            <tbody>
                <div class="no-tasks" *ngIf="!tasks">
                    No available tasks found.
                </div>
                <tr *ngFor="let task of tasks">
                    <td class="task__title" [id]="task.projectId">{{ task.projectData.title }}</td>
                    <td class="task__title">{{ task.title }}</td>
                    <td class="task__description">{{ task.description }}</td>
                    <td>
                        <div class="task__dueDate">
                            <img src="../../../../assets/icons/clock.png">
                            <span>{{ task.dueDate | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="task__buttons">
                            <button type="submit" (click)="markAsCompleted(task._id)"><img src="../../../../assets/icons/checklist.png"></button>
                            <button type="submit" (click)="removeFromMyTasks(task._id)"><img src="../../../../assets/icons/close.png"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>