.result__title {
  font-size: 20px;
}
.result__createdAt {
  display: flex;
  align-items: center;
}
.result__createdAt span {
  text-align: right;
  margin-left: 0.8em;
}
.no-projects {
  width: 100%;
  padding: 0.5em 3em;
  color: #ffffff;
  font-size: 20px;
}
