html {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

input {
    resize: none;
}

input,
input:focus {
    border: none;
    outline: none;
}

button,
button:focus,
button:hover {
    border: none;
    outline: none;
    background: none;
}