<div class="app-container">
    <app-projects-search (goToProject)="scrollToProject($event)"></app-projects-search>
    <div class="container">
        <div class="head">
            <div class="title-box">
                <div class="head__title">{{ project.title }}</div>
                <a [routerLink]="'/projects/'+project._id+'/info'" class="title-box__button" *ngIf="user.role==='manager'">
                    <img src="../../../../assets/icons/edit.png">
                </a>
            </div>
            <div class="createdAt">Created: {{ project.createdAt | date:'shortDate' }}</div>
        </div>

        <div class="description">{{ project.description }}</div>

        <div class="users">
            <div class="users__title">Managers:</div>
            <ul class="users__list">
                <li *ngFor="let manager of project.managersData">
                    {{ manager }};
                </li>
            </ul>
        </div>

        <div class="users">
            <div class="users__title">Developers:</div>
            <ul class="users__list">
                <li *ngFor="let dev of project.developersData">
                    <span>{{ dev }}</span>
                </li>
            </ul>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">
                        <div class="th-button" *ngIf="user.role==='manager'">
                            <a routerLink="/new/task" class="add-task-button" type="submit">
                                <img src="../../../../assets/icons/add_black.png">
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <div class="no-devs" *ngIf="!project.tasksData">
                    No available tasks found.
                </div>
                <tr *ngFor="let task of project.tasksData">
                    <td class="task__title">{{ task.title }}</td>
                    <td class="task__description">{{ task.description }}</td>
                    <td>
                        <div class="task__dueDate">
                            <img src="../../../../assets/icons/clock.png">
                            <span [ngSwitch]="task.completed">
                                <ng-template [ngSwitchCase]="true">Completed!</ng-template>
                                <ng-template [ngSwitchCase]="false">{{ task.dueDate | date:'shortDate' }}</ng-template>
                            </span>
                        </div>
                    </td>
                    <td [ngSwitch]="user.role">
                        <ng-template ngSwitchCase="manager">
                            <div class="task__buttons_manager">
                                <button type="submit" (click)="markAsCompleted(task._id)" [disabled]="task.completed"><img src="../../../../assets/icons/checklist.png"></button>
                                <button type="submit" (click)="editTask(task._id)" [disabled]="task.completed"><img src="../../../../assets/icons/edit_little.png"></button>
                                <button type="submit" (click)="deleteTask((task._id))"><img src="../../../../assets/icons/delete_black.png"></button>
                            </div>
                        </ng-template>
                        <ng-template ngSwitchCase="developer">
                            <button class="task__button_developer" (click)="takeTheTask(task._id)" [disabled]="task.completed || task.takenByDev">Take the task</button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>